language = "nodejs"
run = "npm start"

hidden = [".config", "package-lock.json"]
entrypoint = "index.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]

[nix]
channel = "stable-22_11"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run dev"]
