<div class="header-page">Pogy docs</div>
<button onclick="toggleTheme()" class="button">Toggle Theme</button>
</button>
<div class="collapse navbar-collapse" id="alt-navbar">
    <ul class="navbar-nav mr-auto d-md-none">
        <li class="nav-item dropdown show">
            <a class="header dropdown-toggle" href="#" id="quickStartDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">quick start</a>
            <div class="dropdown-menu show" aria-labelledby="quickStartDropdown">
                <ul>
                    <li>
                        <a class="dropdown-item" href="#Getting_Started">Getting Started</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#contributors">Contributors</a>
                    </li>
                </ul>
            </div>
        </li>
        <div class="glow"></div>
        <style>
            .glow {
                width: 80%;
                height: 60px;
                background: linear-gradient(90deg, #dd4949, #5e40e4);
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                border-radius: 50%;
                transform: translateY(-20%);
                filter: blur(160px);
            }
        </style>
        <li class="nav-item dropdown">
            <a class="header dropdown-toggle" href="#" id="referenceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
            <div class="dropdown-menu" aria-labelledby="referenceDropdown">
                <ul>
                    <li>
                        <a class="dropdown-item" href="#moderation">Moderation</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#information">Information</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#fun">Fun</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#utilities">Utiltities</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#game">Game</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#currency">Currency</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="header dropdown-toggle" href="#" id="contributingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reference</a>
            <div class="dropdown-menu" aria-labelledby="contributingDropdown">
                <ul>
                    <li>
                        <a class="dropdown-item" href="#faq">FAQ</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#ban_policy">Ban Policy</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#blacklist_policy">Blacklist Policy</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <span class="navbar-icons ml-auto d-none d-md-flex">

        <div class="dropdown">
            <a href="https://web.archive.org/web/20230203193141/https://discord.gg/FqdH4sfKBg" target="_blank"
                rel="noopener noreferrer" aria-label="GitHub">
                <i class="fab fa-discord"></i>
            </a>
            <a " href=" https://web.archive.org/web/20230203193141/https://pogy.xyz/">Home</a>

        </div>

        <a href="https://web.archive.org/web/20230203193141/https://discord.com/oauth2/authorize?client_id=767705905235099658&amp;scope=bot&amp;permissions=490073207"
            target="_blank" rel="noopener noreferrer" aria-label="Stack Overflow">
            Invite
        </a>
        <a href="https://web.archive.org/web/20230203193141/https://pogy.xyz/commands" target="_blank"
            rel="noopener noreferrer" aria-label="Twitter">
            Commands
        </a>
    </span>
</div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="navbar d-none d-md-block" id="navbar">
            <header class="d-none"></header>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <span class="overveiw">Overview</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Getting_Started">Getting Started</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contributors">Contributors</a>
                </li>

                <li class="nav-item">
                    <span class="header">Features</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#moderation">Moderation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#information">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#fun">Fun</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#utilities">Utilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#game">Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#currency">Currency</a>
                </li>
                <li class="nav-item">
                    <span class="header">Reference</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ban_policy">Ban Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blacklist_policy">Blacklist Policy</a>
                </li>
            </ul>
        </nav>
        <main id="main-doc">
            <section class="main-section" id="Getting_Started">
                <header>
                    <h1>About</h1>
                </header>
                <p>Pogy aims to be an incredibly unique bot, our goal is to have every feature you could ever think of. The overall vision of Pogy is to provide the user with a quality product. </p>

            </section>
            <section class="main-section" id="contributors">
                <header>
                    <h1>Developper</h1>
                </header>
                <p>Pogy was made by one single developper. I've always wanted to build a bot like Pogy, as what I always always aim to build something Unique. I decided to start building the bot during quarantine of 2020. You can support me by inviting the
                    bot!
                </p>
                <p>You can support me buying the premium version of the bot! <a href="https://web.archive.org/web/20230203193141/https://pogy.xyz/premium" target="_blank">here</a></p>
            </section>

            <section class="main-section empty" id="moderation">
                <header>
                    <h1>Moderation</h1>
                </header>
                <h2>Verification System</h2>
                <p>Set up a verification system<br>With Pogy you can create a verification system easily</p>
                <div class="code">
                    <code><span class="purple">1- </span>setverificationchannel #channel</code><br>
                    <code><span class="purple">2-</span> setverificationrole @role</code><br>
                    <code><span class="purple">3-</span> setverificationmessage &lt; message &gt;</code><br>

                </div>
                <p>Done!</b> Here is how you can set up a really easy verification system with Pogy!</p>
                <h2>Auto Role</h2>
                <p>This will automatically add the specified role every time a member joins the guild</p>
                <h2>Lock and Unlock Channel</h2>
                <p>This will easily lock the channel provided to stop grief, as you can unlock it anytime</p>
                <h2>Advanced Warning</h2>
                <p>When warning a user, you can use the Auto Kick Command which will auto kick every member with a certain number of warns, as you can also clear warns and check warn logs with its date and reason.
                </p>
                <h2>Advanced Logging</h2>
                <p>This feature includes: <br>- Deleted message logging<br>- Nickname Logging<br>- Edited messages Logging
                    <br>- Member Logging<br>- Role logging</p>
                <h2>Disable mentions</h2>
                <p>Are you that person that hates getting pinged, well the <b>Disable mentions</b> If enabled, this feature will delete every ping and automatically then warn the user that pinged you. This command is automatically disabled once you send
                    any message again in any channel</p>
                <h2>Leave &amp; Welcome Message</h2>
                <p>Set up both welcome and leave messages to your server easily</p>
                <h2>Ban &amp; Soft Ban</h2>
                <p>Ban a member from the server, then unban directly. This will delete all his messages</p>
                <h2>Purge</h2>
                <p>Delete the specified amount of messages from the provided channel, this feature can also be used with the command <b> Warn Purge </b></p>
                <h2>Other Commands</h2>
                <p>These commands include; setnickname, slowmode, mute, addrole, removerole</p>
            </section>
            <section class="main-section empty" id="information">
                <header>
                    <h1>Information</h1>
                </header>
                <h2>Detailed Information</h2>
                <p>This feature includes commands that fetches a detailed description of every channel, of the server itself and every member, even role information</p>
            </section>
            <section class="main-section empty" id="fun">
                <header>
                    <h1>Fun</h1>
                </header>
                <h2>Fact Commands</h2>
                <p>These commands include facts, dog facts, cat facts and more</p>
                <h2>Jokes</h2>
                <p>Adress a friend with a Yomomma joke, a hack or a kill</p>

            </section>
            <section class="main-section empty" id="utilities">
                <header>
                    <h1>Utilities</h1>
                </header>
                <h2>Create and close a ticket</h2>
                <p>This will allow members to create and close a ticket, with a default cooldown of 24 hours to decrease ticket spam</p>
                <h2>Remind</h2>
                <p>This Command will remind the user if enabled</p>
                <h2>Tiktok</h2>
                <p>Check Detailed stats of any user on tiktok</p>
                <h2>AFK</h2>
                <p>Set an Afk message which will show when you are pinged</p>
                <h2>Thank</h2>
                <p>You can thank any user that helped with this command but every 12 hours to avoid dm spam</p>
            </section>
            <section class="main-section empty" id="game">
                <header>
                    <h1>Game</h1>
                </header>
                <h2>Hangman</h2>
                <p>Play hangman with a group of people!</p>
                <h2>TicTacToe</h2>
                <p>Play TicTacToe vs. a user/friend</p>

                <h2>Other Commands</h2>
                <p>Trivia, slots, diceroll, 8ball</p>
            </section>
            <section class="main-section empty" id="currency">
                <header>
                    <h1>Currency</h1>
                </header>
                <h2>Beg, search, work</h2>
                <p>These commands will provide a user money</p>
                <h2>Buying and upgrading</h2>
                <p>These Commands work together, you can head to the shop buy an apartment and upgrade it which will increase your earnings</p>
                <h2>Safe mode</h2>
                <p>The safe command is really useful to the people who wanna protect their money. If enabled: <br> - You can't use Padlocks, Banknotes, or Laptop<br> - You can't buy any item from the shop<br> - You can't collect appartment or anything else<br>                    - You can't collect daily rewards<br> - Double the cooldown in beg and search<br> - No roulette &amp; betting<br> <b>Note that you can disable the command only
                        after 12 hours if enabled.</b></p>
            </section>
            <section class="main-section empty" id="#faq">
                <section class="main-section empty" id="faq">

                    <header>
                        <h1>Frequently asked questions</h1>
                    </header>
                    <p>No questions were asked yet, have any question contact me on </p><a href="https://web.archive.org/web/20230203193141/https://discord.gg/FqdH4sfKBg">discord</a>
                </section>
            </section>
            <section class="main-section empty" id="ban_policy">
                <header>
                    <h1> Ban Policy
                    </h1>
                </header>
                <p>A detailed overview of the Ban Policy, and instructions on how to report a user so they can be added to the Ban List.</p>
                <h2>Spam</h2>
                <ul>
                    <li>Spamming in a channel that hasn't been explicitly marked as a "spam channel"</li>
                </ul>
                <ul>
                    <li>Organizing or participating in a server raid</li>
                </ul>
                <ul>
                    <li>Spamming a user's direct messages</li>
                </ul>

                <h2>NFSW</h2>
                <ul>
                    <li>Sending NSFW content to other users through direct message, against the user's will</li>
                </ul>
                <ul>
                    <li>Intentionally sending NSFW content to a channel that isn't marked as NSFW</li>
                </ul>


                <h2>Toxicity</h2>
                <ul>
                    <li>Being rude and/or toxic to other user</li>
                </ul>
                <ul>
                    <li>Disobeying instructions from server staff members</li>
                </ul>
                <div>
                    <p> To report a user for violating, you will first need to gather evidence in the form of screenshots. Along with the evidence, you will also need to provide the user's ID. If you have the sufficient evidence and information about the
                        user, you can contact me at <b><a
                                href="/web/20230203193141/https://docs.pogy.xyz/cdn-cgi/l/email-protection"
                                class="__cf_email__"
                                data-cfemail="01716475647369606f606f68603541666c60686d2f626e6c">[email&#160;protected]</a></b> or message me on <a href="https://web.archive.org/web/20230203193141/https://discord.gg/FqdH4sfKBg">Discord</a> and we will
                        review the submission and make a decision.</p>
                    <!-- <div> -->
            </section>
            <section class="main-section empty" id="blacklist_policy">
                <header>
                    <h1>Economy Blacklist Policy</h1>
                </header>
                <ul>
                    <li><b>No account hiding: </b>What this means is you can't store money in your alt and have it hidden in another server</li>
                </ul>
                <ul>
                    <li><b>Automation:</b> Using any sort of macro or bot is forbidden. You cannot keep sending for example !beg every 2 minutes
                    </li>
                </ul>
                <ul>
                    <li><b>Sharing Exploits:</b> You are not allowed to share any exploits that can exploit the currency system. If you would report it we could reward you some money but if not bad stuff will happen
                    </li>
                </ul>
                <ul>
                    <li><b>Alt Farming:</b> giving your alt money to get the best items and double the money and kinda avoid the time is not allowed. Teaming with another real player <b>is</b> allowed

                    </li>
                </ul>
                </li>
                </ul>
                <ul>
                    <li><b>Black Market:</b> You cannot sell coins for real life money as it's also not allowed in discord's TOS.

                    </li>
                </ul>
                <div>
                    <p> To report a user for violating, you will first need to gather evidence in the form of screenshots. Along with the evidence, you will also need to provide the user's ID. If you have the sufficient evidence and information about the
                        user, you can contact me at <b><a
                                href="/web/20230203193141/https://docs.pogy.xyz/cdn-cgi/l/email-protection"
                                class="__cf_email__"
                                data-cfemail="7404110011061c151a151a1d1540341319151d185a171b19">[email&#160;protected]</a></b> or message me on <a href="https://web.archive.org/web/20230203193141/https://discord.gg/FqdH4sfKBg">Discord</a> and we will
                        review the submission and make a decision.</p>
                </div>
            </section>

            <footer>
                <a href="https://web.archive.org/web/20230203193141/https://discord.gg/FqdH4sfKBg" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i> Copyright © 2020 All Rights Reserved by
                    Pogy</a>
            </footer>
        </main>
        </div>
    </div>
    <!-- partial -->
    <script data-cfasync="false" src="/web/20230203193141js_/https://docs.pogy.xyz/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://web.archive.org/web/20230203193141js_/https://b0mh0lt.github.io/freeCodeCamp/_assets/js/jquery351.min.js"></script>
    <script src="https://web.archive.org/web/20230203193141js_/https://b0mh0lt.github.io/freeCodeCamp/_assets/js/popper1161.min.js"></script>
    <script src="https://web.archive.org/web/20230203193141js_/https://b0mh0lt.github.io/freeCodeCamp/_assets/js/bootstrap452.min.js"></script>
    <script src="https://web.archive.org/web/20230203193141js_/https://b0mh0lt.github.io/freeCodeCamp/_assets/js/brands.min.js"></script>
    <script src="https://web.archive.org/web/20230203193141js_/https://b0mh0lt.github.io/freeCodeCamp/_assets/js/solid.min.js"></script>
    <script src="https://web.archive.org/web/20230203193141js_/https://b0mh0lt.github.io/freeCodeCamp/_assets/js/fontawesome.min.js"></script>
    <script src="/web/20230203193141js_/https://docs.pogy.xyz/script.js"></script>

    </body>
    <style>
        body {
            transition: background 0.3s ease, color 0.3s ease;
            background: linear-gradient(to right, #1d1d20, #1b1c1f);
            font-family: Arial, sans-serif;
            color: #ffffff;
        }
        
        details {
            margin: 10px 0;
        }
        
        details summary {
            cursor: pointer;
            outline: none;
            padding: 10px 15px;
            border-radius: 5px;
            border: 1px solid #e0e0e0;
            background: #f0eded;
        }
        
        details summary:hover {
            background: #e0e0e0;
        }
        
        details summary:focus {
            background: #e0e0e0;
        }
        
        details summary:focus-within {
            background: #e0e0e0;
        }
        
        details summary:active {
            background: #f5eeee;
        }
        
        details summary:active:focus {
            background: #e0e0e0;
        }
        
        details summary:active:focus-within {
            background: #e0e0e0;
        }
        
        details summary::-webkit-details-marker {
            display: none;
        }
        
        details summary::marker {
            display: none;
        }
        
        details summary:focus::marker {
            display: none;
        }
        
        .commands-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
        
        .command-card {
            background-color: #444;
            padding: 15px;
            border-radius: 10px;
            width: 280px;
            transition: transform 0.3s ease;
            cursor: pointer;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        .command-card:hover {
            transform: translateY(-5px);
        }
        
        .command-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .command-description {
            font-size: 14px;
        }
        /*server selector */
        
        .server-selector {
            margin-top: 20px;
        }
        
        .dropdown-item {
            color: #04AA6D;
        }
        
        .server-selector .server-btn {
            padding: 10px 20px;
            margin: 5px;
            background-color: #444;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            display: inline-block;
            transition: background-color 0.3s ease;
        }
        
        .server-selector .server-btn:hover {
            background-color: #555;
            cursor: pointer;
        }
        
        .button {
            background-color: #04AA6D;
            /* Green */
            border: none;
            color: white;
            padding: 13px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
        }
        
        .button:hover {
            transform: translateY(-5px);
            /* Move the image up by 5 pixels on hover */
        }
        
        .header-page {
            font-size: 90px;
            margin: auto;
            text-align: center;
        }
        
        .nav-item dropdown {
            position: relative;
            display: inline-block;
        }
        
        .nav-item dropdown.dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
        .nav-item dropdown.dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .nav-item dropdown.dropdown-content a:hover {
            background-color: #f1f1f1
        }
        
        .nav-item dropdown.dropdown-content a:active {
            background-color: #e1e1e1
        }
        
        .nav-item dropdown:hover.dropdown-content {
            display: block;
        }
        
        .nav-item dropdown:hover.dropbtn {
            background-color: #3e8e41;
        }
        
        .navbar-nav {
            list-style: none;
            padding: 0;
            display: flex;
            margin: 0;
        }
        
        .nav-item {
            margin-right: 15px;
        }
        
        .header {
            color: #ffffff;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s ease;
        }
        
        .header:hover {
            color: #04AA6D;
            /* Change the color on hover */
        }
        
        .container-fluid {
            padding: 20px;
        }
        
        .container-fluid {
            padding: 20px;
        }
        
        .header-page {
            font-size: 36px;
            margin-bottom: 20px;
            text-align: center;
        }
        
        .button {
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 13px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
        
        .button:hover {
            transform: translateY(-5px);
        }
        
        .navbar {
            background: linear-gradient(to right, #0D1117, #1F6F8B);
        }
        
        .navbar-nav {
            list-style: none;
            padding: 0;
            display: flex;
            margin: 0;
        }
        
        .nav-item {
            margin-right: 15px;
        }
        
        .header {
            color: #ffffff;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s ease;
        }
        
        .header:hover {
            color: #04AA6D;
        }
        
        .main-section {
            margin-bottom: 40px;
        }
        
        h1 {
            font-size: 24px;
            color: #04AA6D;
            margin-bottom: 15px;
        }
        
        p {
            font-size: 16px;
            line-height: 1.5;
            color: #ffffff;
        }
        
        footer {
            text-align: center;
            margin-top: 40px;
            padding: 20px;
            background: #0D1117;
            color: #ffffff;
        }
        
        footer a {
            color: #04AA6D;
            text-decoration: none;
        }
        
        footer a:hover {
            text-decoration: underline;
        }
    </style>
    <script>
        const colorThemes = [{
            background: "linear-gradient(to right, #0D1117, #1F6F8B)",
            color: "#C9D1D9",
            detailsSummary: "background: #1F6F8B;",
        }, {
            background: "linear-gradient(to right, #1c1c1d, #182848)",
            color: "#fff",
            detailsSummary: "background: #04AA6D;",
        }, {
            background: "linear-gradient(to right, #2c3e50, #3498db)",
            color: "#ecf0f1",
            detailsSummary: "background: #3498db;",
        }, {
            background: "linear-gradient(to right, #007991, #78ffd6)",
            color: "#202020",
            detailsSummary: "background: #78ffd6;",
        }, {
            background: "linear-gradient(to right, #360033, #0b8793)",
            color: "#e0e0e0",
            detailsSummary: "background: #0b8793;",
        }, ];



        let themeIndex = 0;

        function toggleTheme() {
            const body = document.body;

            // Cycle through color themes
            themeIndex = (themeIndex + 1) % colorThemes.length;
            document.querySelectorAll("details summary").forEach(summary => {
                summary.style.cssText = colorThemes[themeIndex].detailsSummary;
            });

            // Apply the current color theme
            body.style.background = colorThemes[themeIndex].background;
            body.style.color = colorThemes[themeIndex].color;
        }
    </script>

    </html>