<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meow Page</title>
</head>
<body>
    <h1>Meow Page</h1>
    <ul id="testList"></ul>
    <ul>
      <% tests.forEach(function(test) { %>
          <li>Name: <%= test.name %>, Value: <%= test.value %></li>
      <% }); %>
  </ul>
</body>
</html>
